@model SJCollegeMVC.Models.RegistrationModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <form class="well form-horizontal" action=" " method="post" id="contact_form">
            <fieldset>

                <!-- Form Name -->
                <h2 class="text-center"><b>Registration</b></h2><br>

                <!-- Text input-->

                <div class="form-group text-center">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                            <br />
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Phone Number</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                            <br />
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                            <br />
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Password</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Password, new { @class = "form-control" })
                            <br />
                           @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Confirm Password</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            <br />
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Gender</label>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Gender, "Select Gender", new { id = "ddlLocations", @class = "form-control" })
                            <br />
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Role</label>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            @Html.DropDownList("Role", (IEnumerable<SelectListItem>)ViewBag.Role, "Select Role", new { id = "ddlLocations", @class = "form-control" })
                           <br />
                            @Html.ValidationMessageFor(model => model.Role)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <br>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>

                    <div class="text-center">
                      @Html.ActionLink("Home", "Index", "Home")
                    </div>
                    <div class="text-center">
                        @Html.ActionLink("Login", "Index", "Login")
                    </div>
</fieldset>
        </form>
    </div>

   

</body>
</html>
